.container{
    height: 660px;
    width: 660px;
    border: 3px solid grey;
}
#button *{
    margin: 10px 3px 10px 10px;
    background-color: rgb(17, 165, 66);
    color: white;
    padding: 10px 40px 10px 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#image1{
    height: 400px;
    margin-left: 50px;
}
#image2{
    margin-left: 500px;
}
#button_1:disabled , #button_2:disabled, #button_3:disabled{
    background-color: red;
}
